.ant-input:-webkit-autofill,
.ant-input:-webkit-autofill:hover,
.ant-input:-webkit-autofill:focus,
.ant-input:-webkit-autofill:active,
.ant-input-affix-wrapper input:-webkit-autofill,
.ant-input-affix-wrapper input:-webkit-autofill:hover,
.ant-input-affix-wrapper input:-webkit-autofill:focus,
.ant-input-affix-wrapper input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  box-shadow: 0 0 0 1000px transparent inset !important;

  -webkit-text-fill-color: inherit !important;
  background-color: transparent !important;

  transition: background-color 9999s ease-out 0s;
}
